{% extends 'layout.html' %}

{% block css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/sell.css.css' %}">
{% endblock %}

{% block title %}
    Sell
{% endblock %}

{% block content %}
<div class="container">
<div class="row justify-content-center">
    <div class="col-12 col-lg-10 col-xl-8 mx-auto">
        <h2 class="h3 mb-4 page-title" style="margin-top: 10px">Sell</h2>
        <div class="my-4">

                <hr class="my-4" />
                <form method="post" id="formPrincipal" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                      {{ form.name.label_tag }}
                      {{ form.name }}
                    </div>
                    <div class="form-group">
                      {{ form.description.label_tag }}
                      {{ form.description }}
                    </div>
                    <div class="form-group">
                        {{ form.image.label_tag }}
                        {{ form.image }}

                    </div>


                    <div class="form-group">
                      {{ form.price.label_tag }}
                      {{ form.price }}
                    </div>

                    <hr class="my-4" />
                    <div class="col-md-offset-2 col-md-10">

                        <button type="button" class="btn btn-primary" id="openModal">Sell</button>

                    </div>


                </form>





        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="itemModal" tabindex="-1" role="dialog" aria-labelledby="itemModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="itemModalLabel">Confirm Sale</h5>

      </div>
      <div class="modal-body">
          <div class="card">
            <img id="itemImage" src="" class="card-img-top" alt="..." style="height: 450px">
            <div class="card-body">
            <h5 class="card-title" id="itemName"></h5>
            <p class="card-text" id="itemPrice"></p>
            <p class="card-text" id="itemDescription"></p>
            </div>
          </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" id="confirmSale">Confirm</button>

      </div>
    </div>
  </div>
</div>




</div>

<!-- Inclua o script jQuery separadamente antes do seu código JavaScript -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
$(document).ready(function() {
  // Quando o botão "Sell" é clicado
  $("#openModal").click(function() {
    // Preencha os detalhes do item no modal com os dados do JSON
    var itemName = $("input[name='name']").val();
    var itemDescription = $("textarea[name='description']").val();
    var itemPrice = $("input[name='price']").val();


    $("#itemName").text(itemName);
    $("#itemDescription").text("Description: " + itemDescription);
    $("#itemPrice").text("Price: $" + itemPrice);


    // Abra o modal
    $("#itemModal").modal("show");
  });

  // Quando o botão "Cancel" no modal é clicado
  $("#itemModal .btn-secondary").click(function() {
    // Feche o modal
    $("#itemModal").modal("hide");
  });

  // Quando o botão "Confirm" no modal é clicado
  $("#confirmSale").click(function() {
    // Submeta o formulário principal
    $("#formPrincipal").submit();
  });
});


</script>



{% endblock %}